* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(25, 25, 46);
    color: #fff;
    line-height: 1.6;
    padding: 20px;
}

.contact-container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.logo a {
    height: 50px;
    color: white;
    cursor: pointer;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

header h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #ddd;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1rem;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: #fff;
    color: #333;
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid #ddd;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

textarea {
    resize: none;
}

.submit-btn {
    padding: 12px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    align-self: center;
    transition: transform 0.3s, background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ff5722;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 87, 34, 0.4);
}

.contact-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.contact-images img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-images img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
    }

    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1.2rem;
    }

    .contact-images {
        flex-wrap: wrap;
    }

    .contact-images img {
        width: 80px;
    }
}